html, body {
  background-color: #34495e;
  color: #1f2e22;
  min-width: 350px;
  margin: auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  margin: auto;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Wildfiresborder {
  border-style: solid;
  border-width: 0rem 2rem 0rem 0rem;
  border-color: #ffb300;
}

.SevereStormsborder {
  border-style: solid;
  border-width: 0rem 2rem 0rem 0rem;
  border-color: #8a8a88;
}

.SeaandLakeIceborder {
  border-style: solid;
  border-width: 0rem 2rem 0rem 0rem;
  border-color: #125dff;
}

.Volcanoesborder {
  border-style: solid;
  border-width: 0rem 2rem 0rem 0rem;
  border-color: #d90000;
}
/*#e74c3c
#ecf0f1*/
h1 {
  color: #ecf0f1;
  font-size: 2.4rem;
  margin: auto;
  /*font-family: 'Montserrat Subrayada', sans-serif;*/
  padding: 1rem 0 0 0;
}

h2 {
  color: #D35400;
}

.canvas.chartjs-render-monitor {
  min-height: 350px;
  max-height: 400px;
}

h3 {
  color: #1f2e22;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

li {
  margin: 0.3rem;
  background-color: #f5faf5;
  border-radius: 0.3rem;
}

a {
  text-decoration: none;
  color: #1f2e22;
  padding-bottom: 0.3rem;
}

a:hover {
  color: #90b098;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

footer {
  color: #1f2e22;
}

footer a {
  color: #1f2e22;
}

@media only screen and (min-width: 1050px) {
  html, body {
    width: 1000px;
  }
}

@media only screen and (min-width: 700px) {
  html, body {
    min-width: 550px;
  }

  .leaflet-container {
    width: 100%;
    height: 600px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 4rem;
  }
}



